
body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Reenie Beanie', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #EAF6F6;
  width: 5%;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.programmer {
  font-weight: normal;
}

.profile {
  line-height: 2;
  margin: 100px auto;
  width: 33%;
}

.contact-me {
  line-height: 2;
  margin: 100px auto;
  width: 33%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  border-radius: 50%;
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 300px;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px;
  text-align: left;
  width: 50%;
}

.swift-img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  width: 25%;
}

.web-img {
  border-radius: 50%;
  float: right;
  margin-left: 30px;
  width: 25%;
}

.bottom-container {
  background-color:  #66BFBF;
  line-height: 3;
  margin-bottom: 0;
  padding: 30px;
}

.footer-link {
  font-size: 20px;
  margin: auto 20px;
  text-decoration: none;
}

.copyright-text {
  color: #EAF6F6;
}
